body {
    font-family: dubai;
    Background: #10e80e90e;
    margin-top:70px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: #260475;
    font-family: dubai;
    padding-left: 30px;
    padding-right: 30px;
    }