body {
    font-family: dubai;
    background-color: darkgreen;
    margin-top: 75px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 30%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

